$primary-color: #4285f4;
$secondary-color: #ffffff;
$gray-bg: #f3f4f6;
$gray-border: rgba(gray, $alpha: .15);
$bg-color: #001726;
$accent-color: #f0f7fe;
$accent-color2: #1f6df1;
$text-color: #737373;

@mixin article-header($align: start) {
    .header {
        text-align: $align;

        sub {
            border-left: 2px solid $primary-color;
            padding: 3px 10px;
            letter-spacing: 1.5px;
        }

        h2 {
            font-size: 3rem;
            margin-block: 25px;

            span {
                color: $accent-color2;
            }
        }

        p {
            color: $text-color;
            line-height: 1.8rem;
            font-size: 1.2rem;
        }
    }
}

@mixin button-style ($padding: 15px 40px, $margin-top: 0px, $width: inherit, $height: inherit) {
    button {
        margin-top: $margin-top;
        font-weight: bold;
        font-size: 1.2rem;
        border: none;
        border-radius: 5px;
        background-color: $primary-color;
        padding: $padding;
        color: white;
        transition-duration: .3s;
        height: $height;
        width: $width;

        &:hover {
            background-color: $accent-color2;
        }
    }
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    display: flex;
    position: fixed;
    top: 0;
    opacity: 100%;
    background-color: transparent;
    z-index: 999;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-weight: bold;
    padding: 20px 350px;
    box-sizing: border-box;
    box-shadow: 0 -25px 50px rgba(0, 0, 0, 0.7);
    transition: top 0.5s ease, opacity 0.5s ease, background-color 0.5s ease;

    &.header-hidden {
        top: -100px;
        opacity: 0;
        transition: top 0.5s ease, opacity 0.5s ease, background-color 0.5s ease;
    }

    &.header-invert {
        background-color: $secondary-color;

        .logo {
            filter: invert(1);
        }

        .invert {
            color: $bg-color;
        }
    }

    img {
        height: 35px;
    }

    nav {
        display: flex;
        gap: 30px;

        li {
            list-style: none;
        }

        a {
            padding: 10px;
            border-radius: 5px;
            transition-duration: .3s;

            &:hover {
                color: $accent-color2;
                background-color: rgba($accent-color, $alpha: .05);
            }
        }
    }

    .other {
        display: flex;
        align-items: center;
        gap: 20px;

        .support:hover {
            color: $accent-color2;
            transition-duration: .3s;
        }

        @include button-style(15px 30px, inherit, inherit, inherit);

        .contact {
            font-size: 1rem;
        }
    }

    a {
        color: white;
        text-decoration: none;
    }
}

.hero {
    display: flex;
    align-items: center;
    height: 100vh;
    background-color: $bg-color;
    color: white;
    padding: 0 350px;

    .container {
        display: flex;
        padding-top: 100px;

        .left {
            .subtitle1 {
                background-color: rgba(gray, $alpha: .15);
                border: 1px solid $gray-border;
                width: fit-content;
                padding: 10px 20px;
                border-radius: 20px;
                margin-bottom: 10px;
            }

            .title {
                font-size: 4.5rem;

                span {
                    color: $accent-color2;
                }
            }

            .subtitle2 {
                margin-block: 20px;
                margin-bottom: 50px;
                line-height: 1.6rem;
                font-size: 1.2rem;
            }

            .trustpilot {
                img {
                    height: 30px;
                    margin-bottom: 20px;
                }

                span {
                    font-weight: bold;
                }
            }
        }

        .right {
            form {
                border-radius: 15px;
                padding: 30px;
                display: flex;
                flex-direction: column;
                gap: 20px;
                color: black;
                background-color: $secondary-color;

                .form-header {
                    text-align: center;
                    padding-bottom: 20px;
                    border-bottom: 1px solid $gray-bg;

                    h3 {
                        font-size: 1.4rem;
                        margin-bottom: 10px;
                    }
                }

                .identity {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    flex-wrap: wrap;
                    row-gap: 20px;
                    column-gap: 15px;

                    .input {
                        input {
                            border: 1px solid $gray-border;
                            background-color: $gray-bg;
                            padding: 15px;
                            border-radius: 5px;
                            font-size: 1.1rem;
                            margin-top: 10px;
                            width: 170px;

                            &::placeholder {
                                color: rgb(187, 185, 185)
                            }

                            &:focus {
                                outline: none;
                            }
                        }
                    }
                }

                .desc {
                    textarea {
                        border: 1px solid rgba(gray, $alpha: .15);
                        background-color: rgba(gray, $alpha: .15);
                        padding: 10px;
                        border-radius: 5px;
                        width: 100%;
                        resize: none;
                        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                        font-size: 1.1rem;
                        box-sizing: border-box;
                        margin-top: 10px;

                        &::placeholder {
                            color: rgb(187, 185, 185)
                        }

                        &:focus {
                            outline: 0;
                        }
                    }
                }

                @include button-style(20px, inherit, 100%, inherit);
            }
        }
    }
}

.product {
    padding-inline: 350px;
    height: 110vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include article-header(center);

    .toggleable_tabs {
        display: flex;
        flex-direction: column;
        align-items: center;

        .tabbox {
            background-color: $accent-color;
            padding: 10px;
            margin-block: 50px;
            border-radius: 40px;
            display: flex;
            gap: 15px;

            .tab {
                border-radius: 40px;
                padding: 15px;
                border: none;
                font-weight: bold;
                font-size: 1.1rem;
                background-color: transparent;
                transition-duration: .2s;

                &:hover {
                    color: $primary-color;
                    cursor: pointer;
                }
            }

            .active-tab {
                box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
                background-color: white;
                color: $primary-color;
            }
        }

        .contentbox {
            .content {
                display: none;
                gap: 30px;

                .card {
                    width: 50%;
                    border-radius: 15px;
                    background-color: $accent-color;
                    padding: 60px 30px;
                    box-sizing: border-box;
                    text-align: center;
                    height: 440px;
                    overflow: hidden;

                    .title {
                        padding-inline: 100px;

                        h3 {
                            font-size: 2rem;
                            line-height: 2.3rem;
                        }

                        p {
                            color: $text-color;
                            margin-block: 20px 50px;
                            line-height: 1.4rem;
                        }
                    }

                    .images {
                        display: flex;
                        gap: 20px;
                        justify-content: center;

                        img {
                            height: 140px;
                            border-radius: 10px;
                            box-shadow: 0 4px 20px rgba($color: #000000, $alpha: .1);
                        }

                        .lone {
                            height: 200px;
                        }
                    }

                }
            }

            .active-content {
                display: flex;
            }
        }
    }
}

.features {
    height: 80vh;
    display: flex;
    align-items: center;

    .container {
        display: flex;
        padding-inline: 350px;

        & * {
            flex: 1;
        }

        @include article-header();

        .left {

            ul {
                list-style: none;
                font-size: 1.2rem;

                li {
                    margin-top: 50px;

                    &:before {
                        content: '\2713';
                        color: $primary-color;
                        padding: 12px 16px;
                        background-color: $accent-color;
                        border-radius: 50%;
                        margin-right: 15px;
                    }
                }
            }
        }

        .right {
            text-align: end;
            padding: 12px;

            &>* {
                border-radius: 10px;
            }

            img:nth-child(1) {
                width: 390px;
            }

            img:nth-child(2) {
                width: 312px;
                box-shadow: 1px 3px 20px rgba(0, 0, 0, 0.2);
                position: relative;
                top: -270px;
                left: -120px;
            }

            img:nth-child(3) {
                width: 72px;
                box-shadow: 1px 3px 20px rgba(0, 0, 0, 0.2);
                position: relative;
                top: -530px;
                left: -330px;
            }

        }
    }
}

.features-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 350px;
    background-color: $bg-color;
    gap: 70px;
    padding-block: 100px;

    &>* {
        flex: 1;
    }

    .left {
        display: flex;
        flex-wrap: wrap;
        gap: 25px;

        &>* {
            border-radius: 10px;
        }

        img:nth-child(1) {
            height: 185px;
        }

        img:nth-child(2) {
            height: 185px;
        }

        img:nth-child(3) {
            height: 308px;
        }
    }

    @include article-header();

    .right {
        color: $secondary-color;

        p {
            color: rgb(212, 212, 212);
        }

        @include button-style(15px 40px, 40px, inherit, inherit);
    }
}

.whyus {
    margin-inline: 260px;
    margin-block: 94px;
    padding-block: 80px;
    background-color: $accent-color;
    border-radius: 15px;

    @include article-header(center);

    .cardbox {
        margin-top: 70px;
        display: flex;
        flex-wrap: wrap;
        gap: 32px;
        justify-content: center;

        .card {
            width: 373px;
            height: 318px;
            background-color: $secondary-color;
            padding: 32px;
            border-radius: 10px;
            box-sizing: border-box;
            box-shadow: 1px 5px 25px rgba(0, 0, 0, 0.09);

            .image {
                width: 56px;
                height: 56px;
                background-color: $accent-color;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 5px;

                img {
                    height: 32px;
                }
            }

            h3 {
                font-size: 1.5rem;
                margin-block: 30px 10px;
            }

            p {
                line-height: 1.5rem;
                color: rgb(138, 137, 137);
            }
        }
    }
}

.testi {
    padding-inline: 350px;
    margin-block: 100px;

    .header {
        text-align: center;
        font-size: 1.2rem;
        font-weight: bold;

        .logos {
            display: flex;
            justify-content: center;
            margin-block: 20px 85px;

            & * {
                height: 51px;
            }
        }
    }

    .content {
        display: flex;
        justify-content: space-between;
        height: 388px;
        overflow: hidden;
        border-radius: 15px;
        box-shadow: 0px 10px 35px rgba(0, 0, 0, 0.1);
        position: relative;

        .carouselbox {
            padding: 64px;
            overflow-x: hidden;
            position: relative;
            display: flex;
            width: 800px;

            .carousel {
                position: relative;
                width: 600px;
                flex: 0 0 600px;
                left: 0px;
                margin-right: 100px;
                transition: left 1s ease;

                .name {
                    font-size: 1.2rem;
                }

                .job {
                    margin-block: 10px 30px;
                    color: $text-color;
                }

                .stars {
                    display: flex;
                    gap: 8px;

                    & * {
                        height: 18px;
                    }
                }

                .testimonies {
                    margin-block: 20px 30px;
                    font-size: 1.5rem;
                    line-height: 2rem;
                }
            }

            .child1 {
                position: absolute;
                left: 64px;
            }
        }

        .rightphoto {
            width: 478px;
            position: absolute;
            right: 0;
        }
    }
}

.faq {
    padding-inline: 350px;
    padding-block: 94px;
    padding-bottom: 400px;
    background-color: $accent-color;
    position: relative;

    @include article-header(center);

    .header {
        margin-bottom: 60px;
    }

    .faqbox {
        display: flex;
        justify-content: center;

        ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 24px;
            align-items: center;
            width: 840px;
            background-color: $accent-color;

            li {
                background-color: white;
                border-radius: 10px;
                box-sizing: border-box;
                position: relative;
                width: 100%;
                transition-duration: .5s;

                &:hover {
                    padding-bottom: 90px;
                }

                .question {
                    border-radius: 10px;
                    background-color: white;
                    padding: 32px;
                    display: flex;
                    justify-content: space-between;
                    font-size: 1.5rem;
                    position: relative;
                    z-index: 6;

                    &::after {
                        content: url("../images/icons8-plus-30.png");
                    }

                    &:hover {
                        color: $accent-color2;
                        cursor: pointer;
                    }
                }

                .cover {
                    background-color: $accent-color;
                    position: absolute;
                    z-index: 6;
                    left: 0;
                    right: 0;
                    bottom: -30px;
                    height: 30px;
                }

                .cover-btm {
                    bottom: -60px;
                    height: 60px;
                }

                .answer {
                    padding: 32px;
                    padding-top: 0;
                    line-height: 2rem;
                    font-size: 1.3rem;
                    color: $text-color;
                    position: absolute;
                    top: 100px;
                    z-index: 5;
                }
            }
        }
    }
}

.cta {
    height: 611px;
    margin-top: -305px;
    background-color: $bg-color;
    padding-inline: 350px;
    display: flex;
    align-items: center;

    .box {
        display: flex;
        justify-content: space-between;
        color: $secondary-color;
        background-color: #092333;
        width: 100%;
        border-radius: 15px;
        overflow: hidden;
        height: 423px;
        position: relative;
        z-index: 6;
        border: 1px solid $bg-color;

        .left {
            box-sizing: border-box;
            padding: 80px;

            h2 {
                font-size: 3rem;
            }

            @include button-style(15px 40px, 40px, inherit, inherit);
        }

        .right {
            position: relative;
            display: inline-block;

            img {
                height: 423px;
            }

            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(to right, #092333 3%, rgba(9, 35, 51, .1));

            }
        }
    }
}

footer {
    padding-inline: 350px;
    padding-block: 84px;
    background-color: $bg-color;
    color: $secondary-color;

    li {
        list-style-type: none;
    }

    a {
        text-decoration: none;
        color: white;
    }

    nav {
        display: flex;
        justify-content: center;
        gap: 30px;
    }

    .header {
        text-align: center;
        border-bottom: 1px solid $text-color;

        img {
            height: 33px;
        }

        .nav {
            margin-block: 32px 64px;
        }
    }

    .copyright {
        margin-top: 30px;
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        color: $text-color;

        p {
            a {
                color: $accent-color2;
            }
        }

        .other a {
            color: $text-color;
        }

        form {
            input {
                font-size: 1.1rem;
                border: none;
                border-radius: 5px;
                height: 48px;
                width: 272px;
                box-sizing: border-box;
                padding: 15px;

                &:focus {
                    outline: none;
                }
            }

            @include button-style(0 30px, inherit, inherit, 48px);
        }
    }
}