$primary-color: #4285f4;
$secondary-color: #ffffff;
$gray-bg: #f3f4f6;
$gray-border: rgba(gray, $alpha: .15);
$bg-color: #001726;
$accent-color: #f0f7fe;
$accent-color2: #1f6df1;
$text-color: #737373;