@use 'color' as color;
@use 'mixin' as mixin;

header {
    display: flex;
    position: fixed;
    top: 0;
    opacity: 100%;
    background-color: transparent;
    z-index: 999;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-weight: bold;
    padding: 20px 350px;
    box-sizing: border-box;
    box-shadow: 0 -25px 50px rgba(0, 0, 0, 0.7);
    transition: top 0.5s ease, opacity 0.5s ease, background-color 0.5s ease;

    &.header-hidden {
        top: -100px;
        opacity: 0;
        transition: top 0.5s ease, opacity 0.5s ease, background-color 0.5s ease;
    }

    &.header-invert {
        background-color: color.$secondary-color;

        .logo {
            filter: invert(1);
        }

        .invert {
            color: color.$bg-color;
        }
    }

    img {
        height: 35px;
    }

    nav {
        display: flex;
        gap: 30px;

        li {
            list-style: none;

            a {
                padding: 10px;
                border-radius: 5px;
                transition-duration: .3s;

                &:hover,
                &.invert:hover {
                    color: color.$accent-color2;
                    background-color: rgba(color.$accent-color, $alpha: .05);
                }
            }
        }

    }

    .other {
        display: flex;
        align-items: center;
        gap: 20px;

        .support:hover {
            color: color.$accent-color2;
            transition-duration: .3s;
        }

        @include mixin.button-style(15px 30px, inherit, inherit, inherit);

        .contact {
            font-size: 1rem;
        }
    }

    a {
        color: white;
        text-decoration: none;
    }
}